<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.api.type.shop_type.dao.ShuDao">
<select id="queryCount" parameterType="com.fh.api.type.shop_type.utils.ShuVO" resultType="java.lang.Integer">

      select count(*) from t_shuxing where  isDel=0
    <if test="name!=null and name!=''">
        and name=#{name}
    </if>

</select>
    <select id="queryDataByVo" parameterType="com.fh.api.type.shop_type.utils.ShuVO" resultType="com.fh.api.type.shop_type.model.ShuXing">
        select * from  t_shuxing where  isDel=0
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
          limit ${size*(current-1)},#{size}
    </select>





    <select id="queryDatasType" parameterType="java.lang.Integer" resultType="com.fh.api.type.shop_type.model.ShuXing">
        select * from  t_shuxing where  typeId=#{typeId} and isDel=0
    </select>
    <select id="querySid" parameterType="java.lang.Integer" resultType="com.fh.api.type.shop_type.model.ShuValue">
        select * from  t_shuvaluee  where  attId=#{sid} and isDel=0
    </select>



</mapper>
