<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.api.type.shop_type.dao.UserDao">
    <select id="queryByName" resultType="com.fh.api.type.shop_type.model.User" parameterType="java.lang.String">
        select * from t_user where name=#{name}
    </select>

    <insert id="save" parameterType="com.fh.api.type.shop_type.model.User" >
    insert  into t_user (name,realName,password,sex,phone,email,idCard,birthday,eduId,deptId, createDate)
  values(#{name},#{realName},#{password},#{sex},#{phone},#{email},#{idCard},#{birthday},#{eduId},#{deptId},#{createDate})
</insert>
 </mapper>
